In [4]:
import random
import pandas as pd

In [53]:
rands = []
for i in range(34):
	rands.append(random.uniform(-.5, 1))

In [54]:
pd.DataFrame({'rand':rands}).to_csv('randomnumbers.csv')

In [34]:
sample_sents = pd.read_csv('../data/processed/sentiment_graphs_d3/sample_historic_sentiment_graph_observable_v2.csv')

In [35]:
sample_sents

               timestamp       value
0    2018-05-15 19:03:42  659.456140
1    2018-05-15 19:08:42  707.319298
2    2018-05-15 19:13:42  518.087719
3    2018-05-15 19:18:42  572.610526
4    2018-05-15 19:23:42  621.445614
..                   ...         ...
284  2018-05-16 18:43:42  103.845614
285  2018-05-16 18:48:42  114.901754
286  2018-05-16 18:53:42  185.856140
287  2018-05-16 18:58:42  150.929825
288  2018-05-16 19:03:42  204.597209

[289 rows x 2 columns]

`new_value = ( (old_value - old_min) / (old_max - old_min) ) * (new_max - new_min) + new_min`

- Better and more easy to comprehend formula here: https://gamedev.stackexchange.com/questions/33441/how-to-convert-a-number-from-one-min-max-set-to-another-min-max-set

```
oldRange = oldMax - oldMin
newRange = newMax - newMin
newValue = ((oldValue - oldMin) * newRange / oldRange) + newMin
```

In [39]:
# sample_sents.loc[:, 'new_val'] = ((sample_sents['value'] - sample_sents['value'].min()) * 2 / (sample_sents['value'].max() - sample_sents['value'].min())) -1 ---> this works too, but super confusing 

oldRange = (sample_sents['value'].max() - sample_sents['value'].min())
newRange = 1-(-1) 														# Effectively 2
sample_sents.loc[:, 'new_val'] = ((sample_sents['value'] - sample_sents['value'].min()) * newRange / (oldRange)) -1

In [33]:
print(sample_sents['new_val'].max())
print(sample_sents['new_val'].min())

1.0
-1.0

In [41]:
sample_sents[['timestamp','new_val']].to_csv('normalized_sentiments_sample.csv')

In [40]:
sample_sents[['timestamp','new_val']]

               timestamp   new_val
0    2018-05-15 19:03:42  0.523246
1    2018-05-15 19:08:42  0.636749
2    2018-05-15 19:13:42  0.188003
3    2018-05-15 19:18:42  0.317299
4    2018-05-15 19:23:42  0.433107
..                   ...       ...
284  2018-05-16 18:43:42 -0.794336
285  2018-05-16 18:48:42 -0.768117
286  2018-05-16 18:53:42 -0.599855
287  2018-05-16 18:58:42 -0.682680
288  2018-05-16 19:03:42 -0.555412

[289 rows x 2 columns]